*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

img{
    display: block;
    max-width: 100%;
}

html{
    /* a cada 1rem será considera 10px */
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
}

:root{
    --bg: #fff;
    --bg-panel: #ebebeb;
    --color-headings: #0077FF;
    --color-text: #000;
    --branco: #fff;
    --azul: #0445f7;
    --azul-forte: #003957;
    --sombra: #191919;
    --cinza: #aeaeae;
    --bg-alternativo: #191919;
}

.container{
    max-width: 60%;
    margin: 0 auto;
}