*{
    margin:0;
    padding: 0;
    box-sizing: border-box;

}

ul{
    list-style: none;
}

img{
    max-width: 100%;
    display: block;
}

a{
    text-decoration: none;
}

html{
    /* a cada 1rem será considera 10px */
    font-size: 62.5%;
    scroll-behavior: smooth;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

body{
    font-family: 'Fira Code', monospace;
    color: var(--color-text);
}

header{
    width: 100%;
    background-color: #276A69;
    padding: 20px 0px;
}

.menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
}

header h1 a{
    font-size: 3.0rem;
    color: #fff;
    position: relative;
}

header h1 a:hover{
    color: #F6f6f6;

}

header h1 a:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

header h1 a:hover:before{
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.btn-menu{
    display: none;
}

header nav ul{
    display: flex;
    flex-direction: row;
   
}

header nav ul li{
    margin-left: 12px;
    transition: transform 0.5s;
}

header nav ul li:hover{
    transform: translate(0px, -7px);
    transition: transform 0.5s;
}

header nav ul li a{
    font-size: 2.0rem;
    color: #fff;
    padding: 10px;
    border-radius: 12px;
    transition: 0.3s;
 
 }

 header nav ul li a:hover{
    background-color: #000;

 }

.header-social{
    background: #f7f7f7;
    width: 100%;
    padding: 10px 0;
    
}

.links-social{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.header-social ul{
    display: flex;
    flex-direction: row;
}

.header-social ul li{
   margin-right: 15px;
}

@keyframes rotacao{
	0%{
        transform: rotate(0deg);
    }

	100%{
        transform: rotate(360deg);
    }
}

.header-social ul li:hover{
    margin-right: 15px;
    animation: rotacao 2s infinite linear;
 }

.header-social ul li a{
    font-size: 2.2rem;
    color: #ccc;
    background: #000;
    padding: 7px 12px;
    transition: 0.3s;
    
 }

 .header-social ul li a:hover{
    color: #000;
    background-color: #ccc;
    border-radius: 20px;
 }

 #btn-empresa{
    width: 300px;
    padding:  15px 0px;
    cursor: pointer;
    border: none;
    border-radius: 7px;
    font-size: 2.0rem;
    font-weight: 700;
    background-color: #000;
    box-shadow: inset 0 0 0 0 #ccc;
    color: #fff;
    transition: ease-out 0.4s;

 }

 #btn-empresa:hover{
    box-shadow: inset 300px 0 0 0 #ccc;
    color: #000;
}


main{
    background-image: url(imagens/img3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: rgba(0,0,0,0.4);
    background-blend-mode: color;
    background-attachment: fixed;
    padding: 120px 0;

}

#conteudo{
    padding: 30px 30px 30px 0;
    color: #fff;
}

#conteudo h2{
    font-size: 3.5rem;
}

#conteudo p{
    font-size: 2.0rem;
}


main #btn-cadastra{
    padding:  15px 40px;
    cursor: pointer;
    border: none;
    border-radius: 2px;
    font-size: 2.0rem;
    font-weight: 500;
    background-color: #f5f5f5;
    color: #000;
    margin-top: 20px;
    transition: transform 0.2s;
    
}

main #btn-cadastra:hover{
    transform: scale(1.3);
    transition: transform 0.2s;
    
}

 section{
     padding: 10px 0;
     background-color: #f5f5f5;
 }

 section .conteudo{
     padding: 90px 0;
     
 }

 section .conteudo h1{
    font-size: 3.5rem;
    margin-bottom: 30px;
    text-align: center;
    color: #000;
    
}


section .conteudo p{
    font-size: 1.9rem;
    color: #000;
    margin-bottom: 40px;
    
}


section .conteudo #btn-assine{
    padding:  15px 30px;
    cursor: pointer;
    border: none;
    border-radius: 7px;
    font-size: 2.0rem;
    font-weight: 700;
    background-color: #276A69;
    color: #fff;
    border-bottom: 7px solid #2b7c7b;
    
    
}

section .conteudo #btn-assine:hover{
    animation-name: links;
    animation-delay: .2s;
    animation-duration: .5s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}

@keyframes links{

    0%{
        transform: rotate(0);
    }

    25%{
        transform: rotate(10deg);
    }

    50%{
        transform: rotate(0);
    }

    75%{
        transform: rotate(-10deg);
    }

    100%{
        transform: rotate(0);
    }
    
}

#maquina::after {
    content: '|';
    opacity: 1;
    margin-left: 5px;
    display: inline-block;
    animation: blink .7s infinite;
  }

  @keyframes blink {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }

  aside{
    background-color: #000;
    padding: 120px 0;
    
}

#sobre-mim{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    align-items: center;
    padding: 10px 0;

}

#sobre-mim h2{
    font-size: 3.0rem;
    margin-bottom: 30px;
    color: #f5f5f5;
    margin-bottom: 30px;
    font-weight: normal;
}

#sobre-mim p{
    font-size: 1.5rem;
    line-height: 30px;
    color: #f5f5f5;
}

#sobre-mim img{
    border-radius: 5px;
}

#btn-github{
    width: 300px;
    padding:  15px 0px;
    cursor: pointer;
    border: none;
    border-radius: 7px;
    font-size: 2.0rem;
    font-weight: 700;
    background-color: #ccc;
    box-shadow: inset 0 0 0 0 #000;
    color: #000;
    transition: ease-out 0.4s;
    margin-top: 20px;
    border-bottom: 7px solid #aeaeae;  

 }

 #btn-github:hover{
    animation-name: links;
    animation-delay: .2s;
    animation-duration: .5s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
 }


.img-parallax{
    background-image: url(imagens/img4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: rgba(0,0,0,0.4);
    background-blend-mode: color;
    background-attachment: fixed;
    padding: 120px 0;

}


footer{
    padding: 50px 0;
    background-color: #276A69;
}

.consideration{
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer p{
    font-size: 2.0rem;
    color: #fff;
    margin-bottom: 45px;
}

.wrapper{
    display: flex;
    flex-direction: row;
}


.wrapper .button{
    height: 60px;
    width: 60px;
    margin: 0 10px;
    overflow: hidden;
    background: #fff;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    transition: all 0.3s ease-out;
  }
  .wrapper .button:hover{
    width: 200px;
  }
  .wrapper .button .icon{
    display: inline-block;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    transition: all 0.3s ease-out;
  }
  .wrapper .button:nth-child(1):hover .icon{
    background: #4267B2;
  }
  .wrapper .button:nth-child(2):hover .icon{
    background: #1DA1F2;
  }
  .wrapper .button:nth-child(3):hover .icon{
    background: #E1306C;
  }
  .wrapper .button:nth-child(4):hover .icon{
    background: #333;
  }
  .wrapper .button:nth-child(5):hover .icon{
    background: #ff0000;
  }
  .wrapper .button .icon i{
    font-size: 25px;
    line-height: 60px;
    transition: all 0.3s ease-out;
  }
  .wrapper .button:hover .icon i{
    color: #fff;
  }
  .wrapper .button span{
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    margin-left: 10px;
    transition: all 0.3s ease-out;
  }
  .wrapper .button:nth-child(1) span{
    color: #4267B2;
  }
  .wrapper .button:nth-child(2) span{
    color: #1DA1F2;
  }
  .wrapper .button:nth-child(3) span{
    color: #E1306C;
  }
  .wrapper .button:nth-child(4) span{
    color: #333;
  }
  .wrapper .button:nth-child(5) span{
    color: #ff0000;
  }

  @media (max-width: 800px){

    header{
        
    }
    
    .container{
        max-width: 700px;
    }

    header h1 a{
        font-size: 2.5rem;
    }

    header nav ul li{
        margin-left: 12px;
        transition: all 0.5s;
    }
    
    header nav ul li:hover{
        transform: none;
        transition: none;
    }

    header nav ul li a{
        font-size: 1.7rem;
    }

    .active{
        display: none;
    }

    .btn-menu{
        border: none;
        outline: none;
        display: block;
        z-index: 333;
    }

    span i{
        background: #276A69; 
        color: #fff;
        font-size: 3.0rem;
        cursor: pointer;
        padding: 5px;
    }

    /*.icon-close::after{
        content: " ";
        display: block;
        width: 15px;
        height: 15px;
        background: url(../imagens/fechar.svg) no-repeat center center;
        position: absolute;
        top: 38px;
        right: 30px;
        cursor: pointer;

    }*/


    /*#cabecalho h1{
       margin-bottom: 0;
       font-size: 25px;
       font-weight: normal;
    }*/

    .ff{
       position: fixed;
       top: 0;
       right: -100%;
       width: 100%;
       max-width: 250px;
       height: 100vh;
       background: var(--bg-panel);
       padding: 70px 20px;
       z-index: 2;
       transition: 0.5s;
    }

    .ff.active{
        right: 0;
    }

    .ff ul{
        text-align: center;
        display: flex;
        flex-direction: column;
        position: relative;

    }

    /*.menu li{
        margin-top: 40px;
       
    }

    .menu li a{
        font-weight: normal;
        font-size: 20px;
        transition: 0.3s;
    }

    .menu li i{
        position: absolute;
        top: 43px;
        right: 25px;
        color: var(--color-headings);

    }

    .menu li a:hover, #action{
        border-bottom: 0;
        color: var(--color-headings);
    }
    */
}






















  [data-anime]{
    opacity: 0;
    transition: 3.0s;
}

[data-anime="left"]{
    transform: translate3d(-50px, 0, 0);
}

[data-anime="right"]{
    transform: translate3d(50px, 0, 0);
}

[data-anime="top"]{
    transform: translate3d(0, -50px, 0);
}

[data-anime].animate{
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}